body {
  font-family: Roboto;
}

form {
  margin: 20px;
  padding: 10px;
  border: 1px solid lightblue;
}

fieldset {
  border: none;
}

fieldset.inline > label {
  display: inline-block;
}

label {
  display: block;
}

input[type=text], input[type=password], textarea {
  width: 256px;
}

textarea {
  height: 64px
}

.invalid {
  color: red;
}

button {
  width: 64px;
  height: 24px;
  margin-right: 4px;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}